has virtualenv && {
    (test -d .venv/py3) || {
        mkdir -p .venv

        test -d .venv/py3 || {
            virtualenv -p python3.10 .venv/py3 --no-site-packages
            source .venv/py3/bin/activate
            .venv/py3/bin/pip install -r requirements.txt
            .venv/py3/bin/pip install --upgrade pip &>/dev/null
        }
    }

    source .venv/py3/bin/activate
}

# Python
export PYTHONDONTWRITEBYTECODE=1

# UTF-8
export LC_ALL='en_US.UTF-8'
export LANG='en_US.UTF-8'
export LANGUAGE='en_US.UTF-8'

# Path
path_add PATH $(expand_path bin)
